{{- /*gotype: github.com/andreychh/snippetbox/internal/templates.TemplateData*/ -}}

{{define "title"}}Page Not Found{{end}}

{{define "main"}}
    <h2>404 - Page Not Found</h2>
    <p>We can't find the page you're looking for. Try starting from <a href="/">home</a>.</p>
{{end}}
